body{
    margin: 0;
}
header{
    padding-left:1em;
    text-align: start;
}
.bilder{
    background-color: black;
    border-radius: 1.5em;
    text-align: center;
    color: white;
    padding:1em;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.kort{
    margin:2em;
}

footer{
    text-align: center;
}